**EXTRACTING THE UNCLEANED CSV FILE FROM ZIP FILE**

In [1]:
import zipfile

In [2]:
zip_ref=zipfile.ZipFile('audible_data.zip') #MAKE SURE YOUR ZIP FILE AND NOTEBOOK MUST BE IN THE SAME FOLDER
zip_ref.extractall()
zip_ref.close()

**IMPORTING THE PANDAS AND NUMPY LIBRARIES**

In [3]:
import numpy as np
import pandas as pd

**LOAD THE UNCLEANED DATASET**

In [4]:
raw_data=pd.read_csv('audible_uncleaned.csv')
df=raw_data.copy()
df.head()

,name,author,narrator,time,releasedate,language,stars,price
0,Geronimo Stilton #11 & #12,Writtenby:GeronimoStilton,Narratedby:BillLobely,2 hrs and 20 mins,04-08-08,English,5 out of 5 stars34 ratings,468.00
1,The Burning Maze,Writtenby:RickRiordan,Narratedby:RobbieDaymond,13 hrs and 8 mins,01-05-18,English,4.5 out of 5 stars41 ratings,820.00
2,The Deep End,Writtenby:JeffKinney,Narratedby:DanRussell,2 hrs and 3 mins,06-11-20,English,4.5 out of 5 stars38 ratings,410.00
3,Daughter of the Deep,Writtenby:RickRiordan,Narratedby:SoneelaNankani,11 hrs and 16 mins,05-10-21,English,4.5 out of 5 stars12 ratings,615.00
4,"The Lightning Thief: Percy Jackson, Book 1",Writtenby:RickRiordan,Narratedby:JesseBernstein,10 hrs,13-01-10,English,4.5 out of 5 stars181 ratings,820.00

**CHECKED SOME OF THE BASIC ATTRIBUTES OF THE DATASET**

In [5]:
df.shape

(87489, 8)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87489 entries, 0 to 87488
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         87489 non-null  object
 1   author       87489 non-null  object
 2   narrator     87489 non-null  object
 3   time         87489 non-null  object
 4   releasedate  87489 non-null  object
 5   language     87489 non-null  object
 6   stars        87489 non-null  object
 7   price        87489 non-null  object
dtypes: object(8)
memory usage: 5.3+ MB

In [7]:
df.columns

Index(['name', 'author', 'narrator', 'time', 'releasedate', 'language',
       'stars', 'price'],
      dtype='object')

**EXPLORED EACH COLUMNS ONE BY ONE**

**name**

In [8]:
df['name']

0                        Geronimo Stilton #11 & #12
1                                  The Burning Maze
2                                      The Deep End
3                              Daughter of the Deep
4        The Lightning Thief: Percy Jackson, Book 1
                            ...
87484                     Last Days of the Bus Club
87485                                      The Alps
87486                          The Innocents Abroad
87487                         A Sentimental Journey
87488                                        Havana
Name: name, Length: 87489, dtype: object

*REMOVED TRAILING AND LEADING SPACES FROM the 'name' COLUMN IF ANY*

In [9]:
df['name']=df['name'].str.strip()

**author**

In [10]:
df['author'].unique()

array(['Writtenby:GeronimoStilton', 'Writtenby:RickRiordan',
       'Writtenby:JeffKinney', ..., 'Writtenby:RogerW.Thompson',
       'Writtenby:ChrisStewart', "Writtenby:StephenO'Shea"], dtype=object)

*REMOVED 'Writtenby:' from the author column*

In [11]:
df['author']=df['author'].str.replace('Writtenby:','').str.strip()

**narrator**

In [12]:
df['narrator'].unique()

array(['Narratedby:BillLobely', 'Narratedby:RobbieDaymond',
       'Narratedby:DanRussell', ..., 'Narratedby:JeanMarsh',
       'Narratedby:McAvoyLayne', 'Narratedby:ChrisStewart'], dtype=object)

*REMOVED 'Narratedby:' from the 'author' column*

In [13]:
df['narrator']=df['narrator'].str.replace('Narratedby:','').str.strip()

In [14]:
df.head()

,name,author,narrator,time,releasedate,language,stars,price
0,Geronimo Stilton #11 & #12,GeronimoStilton,BillLobely,2 hrs and 20 mins,04-08-08,English,5 out of 5 stars34 ratings,468.00
1,The Burning Maze,RickRiordan,RobbieDaymond,13 hrs and 8 mins,01-05-18,English,4.5 out of 5 stars41 ratings,820.00
2,The Deep End,JeffKinney,DanRussell,2 hrs and 3 mins,06-11-20,English,4.5 out of 5 stars38 ratings,410.00
3,Daughter of the Deep,RickRiordan,SoneelaNankani,11 hrs and 16 mins,05-10-21,English,4.5 out of 5 stars12 ratings,615.00
4,"The Lightning Thief: Percy Jackson, Book 1",RickRiordan,JesseBernstein,10 hrs,13-01-10,English,4.5 out of 5 stars181 ratings,820.00

**time**

In [15]:
df['time'].unique()

array(['2 hrs and 20 mins', '13 hrs and 8 mins', '2 hrs and 3 mins', ...,
       '40 hrs and 58 mins', '24 hrs and 8 mins', '24 hrs and 4 mins'],
      dtype=object)

In [16]:
df['time'].head(69)

0      2 hrs and 20 mins
1      13 hrs and 8 mins
2       2 hrs and 3 mins
3     11 hrs and 16 mins
4                 10 hrs
             ...
64     8 hrs and 32 mins
65     7 hrs and 51 mins
66     5 hrs and 10 mins
67     5 hrs and 27 mins
68     2 hrs and 54 mins
Name: time, Length: 69, dtype: object

In [17]:
df['time'].tail(90)

87399      1 hr and 6 mins
87400     1 hr and 27 mins
87401     2 hrs and 9 mins
87402              54 mins
87403     1 hr and 15 mins
               ...
87484    7 hrs and 34 mins
87485    10 hrs and 7 mins
87486    19 hrs and 4 mins
87487     4 hrs and 8 mins
87488      6 hrs and 1 min
Name: time, Length: 90, dtype: object

*This columns has 'hrs','hr','min','mins','and' as strings so I wrote a function below which converts to minutes*

In [18]:

def time_to_minutes(string):
    string=string.replace('s','')
    if  'min' in string and  'and' not in string:
        x=string.replace('min','')
        time=int(x)
    elif 'hr' in string  and  'and' not in string:
        x=string.replace('hr','')
        time=int(x)*60
    else :
        x=string.replace(' hr and','').replace(' min','')
        hr,min=(x.split(' '))
        time=int(hr)*60+int(min)
    return time

df['time'].apply(time_to_minutes)

"\ndef time_to_minutes(string):\n    string=string.replace('s','')\n    if  'min' in string and  'and' not in string:\n        x=string.replace('min','')\n        time=int(x)\n    elif 'hr' in string  and  'and' not in string:\n        x=string.replace('hr','')\n        time=int(x)*60\n    else :\n        x=string.replace(' hr and','').replace(' min','')\n        hr,min=(x.split(' '))\n        time=int(hr)*60+int(min)\n    return time\n\ndf['time'].apply(time_to_minutes)\n"

*upon applying this function to time column it throwed an error from there I discovered that the column also
contains 'Less than 1 minute' string*

*The final function:
CONVERTED the values to minutes and assigned the rows wiht 'LESS than 1 minute' of time column with 0 min*

In [19]:
def time_to_minutes(string):
    string=string.replace('s','')
    if  'min' in string and  'and' not in string and len(string)<=6:
        x=string.replace('min','')
        time=int(x)
    elif 'hr' in string  and  'and' not in string:
        x=string.replace('hr','')
        time=int(x)*60
    elif 'hr' in string or 'min' in string and 'and' in string:
        x=string.replace(' hr and','').replace(' min','')
        hr,min=(x.split(' '))
        time=int(hr)*60+int(min)
    else:
        time=0
    return time

In [20]:
df['time']=df['time'].apply(time_to_minutes)

In [21]:
df.head()

,name,author,narrator,time,releasedate,language,stars,price
0,Geronimo Stilton #11 & #12,GeronimoStilton,BillLobely,140,04-08-08,English,5 out of 5 stars34 ratings,468.00
1,The Burning Maze,RickRiordan,RobbieDaymond,788,01-05-18,English,4.5 out of 5 stars41 ratings,820.00
2,The Deep End,JeffKinney,DanRussell,123,06-11-20,English,4.5 out of 5 stars38 ratings,410.00
3,Daughter of the Deep,RickRiordan,SoneelaNankani,676,05-10-21,English,4.5 out of 5 stars12 ratings,615.00
4,"The Lightning Thief: Percy Jackson, Book 1",RickRiordan,JesseBernstein,600,13-01-10,English,4.5 out of 5 stars181 ratings,820.00

**releasedate**

*THE releasedate column is in 'dd-mm-yy' format and its data type is string converted it to datetime*

In [22]:
df['releasedate']=pd.to_datetime(df['releasedate'],
                                 format="%d-%m-%y")

**language**

In [23]:
df['language'].unique()

array(['English', 'Hindi', 'spanish', 'german', 'french', 'catalan',
       'swedish', 'italian', 'danish', 'finnish', 'dutch', 'hebrew',
       'russian', 'polish', 'galician', 'afrikaans', 'icelandic',
       'romanian', 'japanese', 'tamil', 'portuguese', 'urdu', 'hungarian',
       'czech', 'bulgarian', 'mandarin_chinese', 'basque', 'korean',
       'arabic', 'greek', 'turkish', 'ukrainian', 'slovene', 'norwegian',
       'telugu', 'lithuanian'], dtype=object)

**'language' column contains strings with some of the values with first character in lowercase**

In [24]:
df['language']=df['language'].apply(lambda x : x.title())

In [25]:
df['language'].unique()

array(['English', 'Hindi', 'Spanish', 'German', 'French', 'Catalan',
       'Swedish', 'Italian', 'Danish', 'Finnish', 'Dutch', 'Hebrew',
       'Russian', 'Polish', 'Galician', 'Afrikaans', 'Icelandic',
       'Romanian', 'Japanese', 'Tamil', 'Portuguese', 'Urdu', 'Hungarian',
       'Czech', 'Bulgarian', 'Mandarin_Chinese', 'Basque', 'Korean',
       'Arabic', 'Greek', 'Turkish', 'Ukrainian', 'Slovene', 'Norwegian',
       'Telugu', 'Lithuanian'], dtype=object)

**stars**

In [26]:
df['stars'].unique()

array(['5 out of 5 stars34 ratings', '4.5 out of 5 stars41 ratings',
       '4.5 out of 5 stars38 ratings', '4.5 out of 5 stars12 ratings',
       '4.5 out of 5 stars181 ratings', '5 out of 5 stars72 ratings',
       '5 out of 5 stars11 ratings', '5 out of 5 stars50 ratings',
       '5 out of 5 stars5 ratings', '5 out of 5 stars58 ratings',
       '4.5 out of 5 stars130 ratings', '5 out of 5 stars6 ratings',
       '5 out of 5 stars7 ratings', '5 out of 5 stars41 ratings',
       '4 out of 5 stars2 ratings', '4.5 out of 5 stars33 ratings',
       '5 out of 5 stars20 ratings', '5 out of 5 stars13 ratings',
       '5 out of 5 stars79 ratings', '4.5 out of 5 stars47 ratings',
       '5 out of 5 stars27 ratings', '4.5 out of 5 stars25 ratings',
       '5 out of 5 stars101 ratings', '5 out of 5 stars15 ratings',
       '5 out of 5 stars3 ratings', '5 out of 5 stars18 ratings',
       '4.5 out of 5 stars37 ratings', '5 out of 5 stars9 ratings',
       '5 out of 5 stars8 ratings', 'Not rated yet',
       '4.5 out of 5 stars10 ratings', '4 out of 5 stars28 ratings',
       '5 out of 5 stars19 ratings', '4 out of 5 stars16 ratings',
       '5 out of 5 stars12 ratings', '4.5 out of 5 stars16 ratings',
       '4 out of 5 stars4 ratings', '5 out of 5 stars10 ratings',
       '5 out of 5 stars17 ratings', '4.5 out of 5 stars4 ratings',
       '5 out of 5 stars1 rating', '5 out of 5 stars14 ratings',
       '5 out of 5 stars4 ratings', '3.5 out of 5 stars7 ratings',
       '5 out of 5 stars2 ratings', '4.5 out of 5 stars3 ratings',
       '4.5 out of 5 stars21 ratings', '4 out of 5 stars1 rating',
       '3 out of 5 stars5 ratings', '4.5 out of 5 stars20 ratings',
       '4.5 out of 5 stars2 ratings', '4.5 out of 5 stars7 ratings',
       '4.5 out of 5 stars14 ratings', '4.5 out of 5 stars13 ratings',
       '4.5 out of 5 stars11 ratings', '4.5 out of 5 stars8 ratings',
       '4.5 out of 5 stars17 ratings', '4.5 out of 5 stars5 ratings',
       '4.5 out of 5 stars15 ratings', '4.5 out of 5 stars9 ratings',
       '4 out of 5 stars9 ratings', '4 out of 5 stars5 ratings',
       '4.5 out of 5 stars6 ratings', '3 out of 5 stars1 rating',
       '3.5 out of 5 stars2 ratings', '5 out of 5 stars81 ratings',
       '4.5 out of 5 stars57 ratings', '4.5 out of 5 stars91 ratings',
       '4.5 out of 5 stars100 ratings', '4.5 out of 5 stars31 ratings',
       '4.5 out of 5 stars51 ratings', '4.5 out of 5 stars26 ratings',
       '5 out of 5 stars32 ratings', '3.5 out of 5 stars3 ratings',
       '4 out of 5 stars11 ratings', '4 out of 5 stars7 ratings',
       '4 out of 5 stars8 ratings', '1 out of 5 stars1 rating',
       '4 out of 5 stars12 ratings', '3.5 out of 5 stars10 ratings',
       '3 out of 5 stars3 ratings', '1 out of 5 stars3 ratings',
       '2 out of 5 stars1 rating', '4.5 out of 5 stars27 ratings',
       '4.5 out of 5 stars53 ratings', '4 out of 5 stars6 ratings',
       '4.5 out of 5 stars52 ratings', '4 out of 5 stars20 ratings',
       '4.5 out of 5 stars93 ratings', '3.5 out of 5 stars46 ratings',
       '5 out of 5 stars24 ratings', '4.5 out of 5 stars96 ratings',
       '4.5 out of 5 stars28 ratings', '3.5 out of 5 stars9 ratings',
       '4 out of 5 stars3 ratings', '3 out of 5 stars4 ratings',
       '4.5 out of 5 stars79 ratings', '3 out of 5 stars2 ratings',
       '4 out of 5 stars15 ratings', '5 out of 5 stars1,423 ratings',
       '5 out of 5 stars636 ratings', '5 out of 5 stars720 ratings',
       '5 out of 5 stars1,006 ratings', '5 out of 5 stars572 ratings',
       '5 out of 5 stars664 ratings', '5 out of 5 stars39 ratings',
       '5 out of 5 stars845 ratings', '5 out of 5 stars64 ratings',
       '4.5 out of 5 stars32 ratings', '4 out of 5 stars141 ratings',
       '5 out of 5 stars40 ratings', '5 out of 5 stars35 ratings',
       '5 out of 5 stars23 ratings', '5 out of 5 stars43 ratings',
       '5 out of 5 stars37 ratings', '5 out of 5 stars67 ratings',
       '5 out of 5 stars96 ratings', '4.5 out of 5 stars266 ratings',
       '4.5 out of 5 stars174 ratings', '4.5 out of 5 stars86 ratings',
       '5 out of 5 stars25 ratings', '5 out of 5 stars29 ratings',
       '4.5 out of 5 stars23 ratings', '5 out of 5 stars188 ratings',
       '5 out of 5 stars21 ratings', '4.5 out of 5 stars29 ratings',
       '4.5 out of 5 stars50 ratings', '4.5 out of 5 stars39 ratings',
       '4.5 out of 5 stars35 ratings', '4 out of 5 stars105 ratings',
       '4 out of 5 stars19 ratings', '4.5 out of 5 stars65 ratings',
       '3.5 out of 5 stars5 ratings', '5 out of 5 stars28 ratings',
       '5 out of 5 stars30 ratings', '4.5 out of 5 stars19 ratings',
       '4.5 out of 5 stars18 ratings', '4.5 out of 5 stars63 ratings',
       '4.5 out of 5 stars62 ratings', '4.5 out of 5 stars24 ratings',
       '4.5 out of 5 stars188 ratings', '4.5 out of 5 stars113 ratings',
       '4.5 out of 5 stars59 ratings', '4 out of 5 stars37 ratings',
       '4.5 out of 5 stars77 ratings', '4 out of 5 stars30 ratings',
       '2.5 out of 5 stars2 ratings', '1 out of 5 stars2 ratings',
       '4.5 out of 5 stars329 ratings', '5 out of 5 stars130 ratings',
       '4 out of 5 stars18 ratings', '2.5 out of 5 stars3 ratings',
       '4.5 out of 5 stars55 ratings', '4 out of 5 stars25 ratings',
       '4.5 out of 5 stars154 ratings', '5 out of 5 stars46 ratings',
       '4.5 out of 5 stars61 ratings', '4.5 out of 5 stars22 ratings',
       '3.5 out of 5 stars6 ratings', '4.5 out of 5 stars90 ratings',
       '4.5 out of 5 stars34 ratings', '4.5 out of 5 stars69 ratings',
       '4.5 out of 5 stars136 ratings', '4.5 out of 5 stars94 ratings',
       '4.5 out of 5 stars206 ratings', '3 out of 5 stars82 ratings',
       '4 out of 5 stars164 ratings', '3 out of 5 stars10 ratings',
       '4 out of 5 stars66 ratings', '3.5 out of 5 stars34 ratings',
       '3.5 out of 5 stars21 ratings', '3.5 out of 5 stars17 ratings',
       '3.5 out of 5 stars29 ratings', '3.5 out of 5 stars4 ratings',
       '2.5 out of 5 stars8 ratings', '2 out of 5 stars3 ratings',
       '4 out of 5 stars10 ratings', '4.5 out of 5 stars30 ratings',
       '5 out of 5 stars113 ratings', '4.5 out of 5 stars75 ratings',
       '4.5 out of 5 stars58 ratings', '4 out of 5 stars319 ratings',
       '4 out of 5 stars233 ratings', '4.5 out of 5 stars48 ratings',
       '3.5 out of 5 stars85 ratings', '5 out of 5 stars78 ratings',
       '5 out of 5 stars56 ratings', '4.5 out of 5 stars193 ratings',
       '5 out of 5 stars591 ratings', '4.5 out of 5 stars1,216 ratings',
       '3.5 out of 5 stars112 ratings', '4.5 out of 5 stars103 ratings',
       '4.5 out of 5 stars49 ratings', '4 out of 5 stars137 ratings',
       '4.5 out of 5 stars315 ratings', '4.5 out of 5 stars396 ratings',
       '4 out of 5 stars17 ratings', '4 out of 5 stars40 ratings',
       '4 out of 5 stars27 ratings', '4.5 out of 5 stars83 ratings',
       '5 out of 5 stars219 ratings', '4.5 out of 5 stars258 ratings',
       '4.5 out of 5 stars36 ratings', '4.5 out of 5 stars45 ratings',
       '4.5 out of 5 stars169 ratings', '4.5 out of 5 stars287 ratings',
       '4.5 out of 5 stars148 ratings', '5 out of 5 stars42 ratings',
       '5 out of 5 stars213 ratings', '4.5 out of 5 stars114 ratings',
       '4.5 out of 5 stars131 ratings', '4.5 out of 5 stars107 ratings',
       '4.5 out of 5 stars121 ratings', '3 out of 5 stars6 ratings',
       '4 out of 5 stars57 ratings', '4.5 out of 5 stars134 ratings',
       '4.5 out of 5 stars95 ratings', '4.5 out of 5 stars519 ratings',
       '4.5 out of 5 stars159 ratings', '5 out of 5 stars1,823 ratings',
       '5 out of 5 stars102 ratings', '5 out of 5 stars382 ratings',
       '5 out of 5 stars91 ratings', '4.5 out of 5 stars71 ratings',
       '5 out of 5 stars164 ratings', '4.5 out of 5 stars1,636 ratings',
       '4.5 out of 5 stars68 ratings', '4.5 out of 5 stars856 ratings',
       '4.5 out of 5 stars538 ratings', '4.5 out of 5 stars735 ratings',
       '4.5 out of 5 stars619 ratings', '4.5 out of 5 stars2,161 ratings',
       '4.5 out of 5 stars43 ratings', '4.5 out of 5 stars562 ratings',
       '5 out of 5 stars819 ratings', '4.5 out of 5 stars232 ratings',
       '4.5 out of 5 stars151 ratings', '5 out of 5 stars74 ratings',
       '4 out of 5 stars14 ratings', '4.5 out of 5 stars87 ratings',
       '4.5 out of 5 stars168 ratings', '4 out of 5 stars93 ratings',
       '4.5 out of 5 stars46 ratings', '4.5 out of 5 stars72 ratings',
       '4.5 out of 5 stars392 ratings', '5 out of 5 stars53 ratings',
       '4.5 out of 5 stars328 ratings', '4.5 out of 5 stars245 ratings',
       '4.5 out of 5 stars82 ratings', '4.5 out of 5 stars78 ratings',
       '5 out of 5 stars16 ratings', '4.5 out of 5 stars40 ratings',
       '4.5 out of 5 stars213 ratings', '4.5 out of 5 stars222 ratings',
       '4 out of 5 stars21 ratings', '4 out of 5 stars22 ratings',
       '3.5 out of 5 stars15 ratings', '4 out of 5 stars47 ratings',
       '4.5 out of 5 stars472 ratings', '4.5 out of 5 stars171 ratings',
       '5 out of 5 stars128 ratings', '5 out of 5 stars80 ratings',
       '5 out of 5 stars45 ratings', '4.5 out of 5 stars104 ratings',
       '1.5 out of 5 stars2 ratings', '4.5 out of 5 stars85 ratings',
       '4 out of 5 stars32 ratings', '5 out of 5 stars57 ratings',
       '2 out of 5 stars4 ratings', '4.5 out of 5 stars60 ratings',
       '4.5 out of 5 stars177 ratings', '4.5 out of 5 stars98 ratings',
       '4.5 out of 5 stars486 ratings', '5 out of 5 stars47 ratings',
       '4.5 out of 5 stars2,924 ratings', '4.5 out of 5 stars97 ratings',
       '4.5 out of 5 stars647 ratings', '4 out of 5 stars41 ratings',
       '4.5 out of 5 stars116 ratings', '4.5 out of 5 stars438 ratings',
       '4.5 out of 5 stars243 ratings', '4.5 out of 5 stars326 ratings',
       '4.5 out of 5 stars157 ratings', '4.5 out of 5 stars523 ratings',
       '4.5 out of 5 stars67 ratings', '4.5 out of 5 stars348 ratings',
       '4.5 out of 5 stars1,807 ratings', '5 out of 5 stars83 ratings',
       '4.5 out of 5 stars44 ratings', '4.5 out of 5 stars183 ratings',
       '4.5 out of 5 stars122 ratings', '4.5 out of 5 stars218 ratings',
       '4.5 out of 5 stars319 ratings', '4.5 out of 5 stars882 ratings',
       '4 out of 5 stars59 ratings', '3.5 out of 5 stars36 ratings',
       '5 out of 5 stars22 ratings', '4 out of 5 stars49 ratings',
       '4.5 out of 5 stars70 ratings', '4.5 out of 5 stars54 ratings',
       '4.5 out of 5 stars117 ratings', '5 out of 5 stars136 ratings',
       '5 out of 5 stars31 ratings', '4.5 out of 5 stars367 ratings',
       '4 out of 5 stars62 ratings', '5 out of 5 stars54 ratings',
       '4.5 out of 5 stars76 ratings', '5 out of 5 stars33 ratings',
       '5 out of 5 stars36 ratings', '4 out of 5 stars511 ratings',
       '4.5 out of 5 stars145 ratings', '4.5 out of 5 stars202 ratings',
       '4.5 out of 5 stars120 ratings', '4.5 out of 5 stars89 ratings',
       '4.5 out of 5 stars262 ratings', '4.5 out of 5 stars73 ratings',
       '4.5 out of 5 stars135 ratings', '4.5 out of 5 stars146 ratings',
       '4.5 out of 5 stars1,563 ratings', '4.5 out of 5 stars111 ratings',
       '4.5 out of 5 stars106 ratings', '4.5 out of 5 stars74 ratings',
       '4.5 out of 5 stars153 ratings', '4.5 out of 5 stars642 ratings',
       '4.5 out of 5 stars200 ratings', '4 out of 5 stars140 ratings',
       '5 out of 5 stars51 ratings', '4.5 out of 5 stars56 ratings',
       '4 out of 5 stars63 ratings', '2 out of 5 stars2 ratings',
       '3.5 out of 5 stars28 ratings', '3.5 out of 5 stars8 ratings',
       '4.5 out of 5 stars355 ratings', '4.5 out of 5 stars99 ratings',
       '4.5 out of 5 stars132 ratings', '5 out of 5 stars111 ratings',
       '4 out of 5 stars13 ratings', '4 out of 5 stars183 ratings',
       '5 out of 5 stars135 ratings', '5 out of 5 stars38 ratings',
       '4.5 out of 5 stars88 ratings', '4.5 out of 5 stars119 ratings',
       '5 out of 5 stars212 ratings', '4.5 out of 5 stars400 ratings',
       '4.5 out of 5 stars127 ratings', '4.5 out of 5 stars929 ratings',
       '4.5 out of 5 stars312 ratings', '4.5 out of 5 stars887 ratings',
       '4.5 out of 5 stars487 ratings', '4.5 out of 5 stars941 ratings',
       '4.5 out of 5 stars688 ratings', '4.5 out of 5 stars291 ratings',
       '4.5 out of 5 stars683 ratings', '4.5 out of 5 stars42 ratings',
       '4.5 out of 5 stars443 ratings', '4.5 out of 5 stars575 ratings',
       '4.5 out of 5 stars460 ratings', '4.5 out of 5 stars1,080 ratings',
       '4.5 out of 5 stars561 ratings', '5 out of 5 stars73 ratings',
       '4.5 out of 5 stars197 ratings', '5 out of 5 stars159 ratings',
       '4.5 out of 5 stars80 ratings', '4 out of 5 stars161 ratings',
       '4.5 out of 5 stars170 ratings', '4.5 out of 5 stars182 ratings',
       '5 out of 5 stars44 ratings', '4 out of 5 stars247 ratings',
       '4 out of 5 stars77 ratings', '4.5 out of 5 stars149 ratings',
       '3.5 out of 5 stars11 ratings', '4 out of 5 stars71 ratings',
       '4.5 out of 5 stars540 ratings', '4.5 out of 5 stars544 ratings',
       '4.5 out of 5 stars271 ratings', '4.5 out of 5 stars480 ratings',
       '5 out of 5 stars26 ratings', '4.5 out of 5 stars184 ratings',
       '4.5 out of 5 stars227 ratings', '4.5 out of 5 stars1,869 ratings',
       '5 out of 5 stars59 ratings', '5 out of 5 stars68 ratings',
       '5 out of 5 stars176 ratings', '4.5 out of 5 stars186 ratings',
       '4.5 out of 5 stars118 ratings', '4.5 out of 5 stars747 ratings',
       '5 out of 5 stars93 ratings', '5 out of 5 stars60 ratings',
       '4 out of 5 stars29 ratings', '5 out of 5 stars321 ratings',
       '3.5 out of 5 stars61 ratings', '4.5 out of 5 stars194 ratings',
       '5 out of 5 stars494 ratings', '4.5 out of 5 stars959 ratings',
       '4.5 out of 5 stars551 ratings', '4.5 out of 5 stars506 ratings',
       '4.5 out of 5 stars437 ratings', '5 out of 5 stars12,569 ratings',
       '4.5 out of 5 stars66 ratings', '4.5 out of 5 stars359 ratings',
       '4.5 out of 5 stars476 ratings', '4 out of 5 stars72 ratings',
       '5 out of 5 stars143 ratings', '5 out of 5 stars239 ratings',
       '4 out of 5 stars103 ratings', '4.5 out of 5 stars102 ratings',
       '4 out of 5 stars1,217 ratings', '4.5 out of 5 stars64 ratings',
       '4 out of 5 stars38 ratings', '4.5 out of 5 stars150 ratings',
       '3.5 out of 5 stars25 ratings', '5 out of 5 stars99 ratings',
       '4.5 out of 5 stars195 ratings', '5 out of 5 stars85 ratings',
       '5 out of 5 stars173 ratings', '4.5 out of 5 stars176 ratings',
       '4.5 out of 5 stars935 ratings', '4.5 out of 5 stars375 ratings',
       '4 out of 5 stars78 ratings', '4.5 out of 5 stars156 ratings',
       '4 out of 5 stars35 ratings', '4 out of 5 stars33 ratings',
       '5 out of 5 stars5,500 ratings', '4.5 out of 5 stars536 ratings',
       '4.5 out of 5 stars125 ratings', '4.5 out of 5 stars2,236 ratings',
       '4 out of 5 stars58 ratings', '5 out of 5 stars92 ratings',
       '4 out of 5 stars171 ratings', '5 out of 5 stars926 ratings',
       '4.5 out of 5 stars558 ratings', '4 out of 5 stars94 ratings',
       '4 out of 5 stars136 ratings', '3.5 out of 5 stars16 ratings',
       '4.5 out of 5 stars261 ratings', '4.5 out of 5 stars1,088 ratings',
       '4 out of 5 stars87 ratings', '5 out of 5 stars274 ratings',
       '4 out of 5 stars51 ratings', '4 out of 5 stars112 ratings',
       '4 out of 5 stars65 ratings', '5 out of 5 stars265 ratings',
       '4.5 out of 5 stars419 ratings', '4 out of 5 stars188 ratings',
       '4 out of 5 stars34 ratings', '5 out of 5 stars62 ratings',
       '3.5 out of 5 stars54 ratings', '4 out of 5 stars44 ratings',
       '4 out of 5 stars36 ratings', '3 out of 5 stars8 ratings',
       '1.5 out of 5 stars3 ratings', '3.5 out of 5 stars14 ratings',
       '4.5 out of 5 stars484 ratings', '4.5 out of 5 stars363 ratings',
       '4.5 out of 5 stars322 ratings', '4 out of 5 stars31 ratings',
       '4.5 out of 5 stars141 ratings', '5 out of 5 stars838 ratings',
       '5 out of 5 stars298 ratings', '5 out of 5 stars208 ratings',
       '4.5 out of 5 stars577 ratings', '5 out of 5 stars165 ratings',
       '4.5 out of 5 stars108 ratings', '4 out of 5 stars133 ratings',
       '4.5 out of 5 stars109 ratings', '5 out of 5 stars192 ratings',
       '4.5 out of 5 stars112 ratings', '5 out of 5 stars120 ratings',
       '4.5 out of 5 stars162 ratings', '4.5 out of 5 stars361 ratings',
       '2 out of 5 stars5 ratings', '4 out of 5 stars26 ratings',
       '4.5 out of 5 stars1,491 ratings', '4.5 out of 5 stars397 ratings',
       '4.5 out of 5 stars229 ratings', '4 out of 5 stars92 ratings',
       '4 out of 5 stars50 ratings', '4.5 out of 5 stars166 ratings',
       '4.5 out of 5 stars178 ratings', '4.5 out of 5 stars841 ratings',
       '4 out of 5 stars80 ratings', '4.5 out of 5 stars1,317 ratings',
       '4 out of 5 stars116 ratings', '4 out of 5 stars150 ratings',
       '4 out of 5 stars130 ratings', '4 out of 5 stars227 ratings',
       '4.5 out of 5 stars259 ratings', '4 out of 5 stars68 ratings',
       '5 out of 5 stars352 ratings', '4.5 out of 5 stars196 ratings',
       '4.5 out of 5 stars110 ratings', '4.5 out of 5 stars137 ratings',
       '4.5 out of 5 stars265 ratings', '5 out of 5 stars252 ratings',
       '5 out of 5 stars61 ratings', '4.5 out of 5 stars511 ratings',
       '4.5 out of 5 stars1,107 ratings', '4 out of 5 stars52 ratings',
       '4.5 out of 5 stars81 ratings', '4 out of 5 stars89 ratings',
       '4 out of 5 stars74 ratings', '4 out of 5 stars96 ratings',
       '4 out of 5 stars23 ratings', '4 out of 5 stars43 ratings',
       '4 out of 5 stars202 ratings', '5 out of 5 stars267 ratings',
       '3.5 out of 5 stars33 ratings', '4.5 out of 5 stars352 ratings',
       '4.5 out of 5 stars378 ratings', '4 out of 5 stars24 ratings',
       '3.5 out of 5 stars30 ratings', '4 out of 5 stars54 ratings',
       '5 out of 5 stars70 ratings', '4 out of 5 stars120 ratings',
       '5 out of 5 stars233 ratings', '4 out of 5 stars55 ratings',
       '5 out of 5 stars55 ratings', '5 out of 5 stars342 ratings',
       '5 out of 5 stars146 ratings', '5 out of 5 stars167 ratings',
       '5 out of 5 stars189 ratings', '4.5 out of 5 stars143 ratings',
       '4.5 out of 5 stars123 ratings', '3 out of 5 stars20 ratings',
       '3 out of 5 stars14 ratings', '3.5 out of 5 stars45 ratings',
       '4.5 out of 5 stars1,150 ratings', '3.5 out of 5 stars12 ratings',
       '2 out of 5 stars10 ratings', '4.5 out of 5 stars101 ratings',
       '4 out of 5 stars48 ratings', '5 out of 5 stars71 ratings',
       '4 out of 5 stars85 ratings', '4 out of 5 stars56 ratings',
       '4.5 out of 5 stars1,263 ratings', '4.5 out of 5 stars975 ratings',
       '4.5 out of 5 stars105 ratings', '3 out of 5 stars13 ratings',
       '3.5 out of 5 stars13 ratings', '4.5 out of 5 stars260 ratings',
       '4.5 out of 5 stars129 ratings', '4.5 out of 5 stars246 ratings',
       '4.5 out of 5 stars92 ratings', '4 out of 5 stars139 ratings',
       '4 out of 5 stars180 ratings', '4.5 out of 5 stars5,972 ratings',
       '4.5 out of 5 stars221 ratings', '4.5 out of 5 stars302 ratings',
       '4.5 out of 5 stars5,324 ratings', '4.5 out of 5 stars140 ratings',
       '3.5 out of 5 stars18 ratings', '4.5 out of 5 stars216 ratings',
       '4.5 out of 5 stars190 ratings', '4.5 out of 5 stars5,973 ratings',
       '4.5 out of 5 stars1,112 ratings', '4.5 out of 5 stars345 ratings',
       '4.5 out of 5 stars128 ratings', '2.5 out of 5 stars11 ratings',
       '4.5 out of 5 stars961 ratings', '4.5 out of 5 stars138 ratings',
       '4 out of 5 stars1,412 ratings', '4 out of 5 stars73 ratings',
       '4.5 out of 5 stars152 ratings', '4 out of 5 stars61 ratings',
       '4.5 out of 5 stars399 ratings', '4 out of 5 stars46 ratings',
       '5 out of 5 stars240 ratings', '4.5 out of 5 stars84 ratings',
       '4 out of 5 stars39 ratings', '3.5 out of 5 stars134 ratings',

*This 'stars' column has two types of data one is rating out of 5 and total ratings*\
**Creating two functions which separates the rating and total number of ratings**

In [27]:
def review_split (string):
    string=string.replace('out of 5 stars','').replace(' ratings','').replace(' rating','')
    review,rating=(string.split(' '))
    return float(review)

In [28]:
def rating_split (string):
    string=string.replace('out of 5 stars','').replace(' ratings','').replace(' rating','')
    review,rating=(string.split(' '))
    rating=rating.replace(',','')
    return int(rating)

*CREATED a new column 'rating'*

In [29]:
df['rating']=df['stars'].apply(lambda x : np.nan if x=='Not rated yet'  else  review_split(x))

*CREATED a new_column 'no_of_ratings'*

In [30]:
df['ratings']=df['stars'].apply(lambda x:np.nan if x=='Not rated yet' else rating_split(x))

**price**

In [31]:
df['price'].unique()

array(['468.00', '820.00', '410.00', ..., '810.00', '710.00', '544.00'],
      dtype=object)

In [32]:
df['price'].sort_values(ascending=False)

12899        Free
62554        Free
48258        Free
12993        Free
12998        Free
           ...
58697    1,002.00
42821    1,002.00
42766    1,002.00
35813    1,002.00
23439    1,002.00
Name: price, Length: 87489, dtype: object

*'price' column has prices values in string and also 'Free'\
removed ',' from prices and changed 'Free' to 0 and changed the datatype of the column to the float*

In [33]:
df['price']=df['price'].apply(lambda x : '0' if x =='Free' else x)
df['price']=df['price'].apply(lambda x :x.replace(',',''))
df['price']=df['price'].astype(float)

In [34]:
df['price'].dtype

dtype('float64')

In [35]:
df.head()

,name,author,narrator,time,releasedate,language,stars,price,rating,ratings
0,Geronimo Stilton #11 & #12,GeronimoStilton,BillLobely,140,2008-08-04,English,5 out of 5 stars34 ratings,468.0,5.0,34.0
1,The Burning Maze,RickRiordan,RobbieDaymond,788,2018-05-01,English,4.5 out of 5 stars41 ratings,820.0,4.5,41.0
2,The Deep End,JeffKinney,DanRussell,123,2020-11-06,English,4.5 out of 5 stars38 ratings,410.0,4.5,38.0
3,Daughter of the Deep,RickRiordan,SoneelaNankani,676,2021-10-05,English,4.5 out of 5 stars12 ratings,615.0,4.5,12.0
4,"The Lightning Thief: Percy Jackson, Book 1",RickRiordan,JesseBernstein,600,2010-01-13,English,4.5 out of 5 stars181 ratings,820.0,4.5,181.0

**DROPPING the stars column**

In [36]:
df.drop(columns='stars',inplace=True)

**RENAMING the columns**

In [37]:
df.rename(columns={'time':'duration',
                  'releasedate':'release_date',
                  },
          inplace=True)

In [38]:
df.head()

,name,author,narrator,duration,release_date,language,price,rating,ratings
0,Geronimo Stilton #11 & #12,GeronimoStilton,BillLobely,140,2008-08-04,English,468.0,5.0,34.0
1,The Burning Maze,RickRiordan,RobbieDaymond,788,2018-05-01,English,820.0,4.5,41.0
2,The Deep End,JeffKinney,DanRussell,123,2020-11-06,English,410.0,4.5,38.0
3,Daughter of the Deep,RickRiordan,SoneelaNankani,676,2021-10-05,English,615.0,4.5,12.0
4,"The Lightning Thief: Percy Jackson, Book 1",RickRiordan,JesseBernstein,600,2010-01-13,English,820.0,4.5,181.0

**ADDING a new column book_id**

In [39]:
df['book_id']=range(1,len(df)+1)
df.set_index('book_id',inplace=True)

In [40]:
df.reset_index('book_id',inplace=True)

**SAVING THE CLEANED FILE**

In [41]:
df.to_csv('cleaned_audiobook_data.csv')

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87489 entries, 0 to 87488
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   book_id       87489 non-null  int64
 1   name          87489 non-null  object
 2   author        87489 non-null  object
 3   narrator      87489 non-null  object
 4   duration      87489 non-null  int64
 5   release_date  87489 non-null  datetime64[ns]
 6   language      87489 non-null  object
 7   price         87489 non-null  float64
 8   rating        15072 non-null  float64
 9   ratings       15072 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(2), object(4)
memory usage: 6.7+ MB

**IMPORTED THE DATA TO MYSQL**

In [ ]:
import sqlalchemy
from sqlalchemy import create_engine

In [ ]:
engine=create_engine('mysql+mysqlconnector://username:password@host/databasename')
df.to_sql('audible',
          con=engine,
          if_exists='append',#I USED THE APPEN HERE BECAUSE I ALREADY CREATED A TABLE IN MYSQL WITH APPROPRIATE DATA TYPES
                              #FOR MEMORY OPTIMASTION AS PANDAS ALWAYS ASSINGS THE MAX DATA TYPE TO AVOID DATA TRUNCATION 
          index=False
         )